@use "../partials/mixins" as *;
@use '../partials/variables' as *;
@use '../partials/typography' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
    height: 100%;
    overflow: auto;
}

.navigation{
    @include flex-column;
    @include flex-center;
    @include mobile_padding;
    background-color: $bandSite-black;
    color: $white;
    text-decoration: none;
    width: 100%;
    position: relative;

    &__icon{
        width: 40%;
        margin-bottom: 1rem;
    }
    &__btns{
        @include subheader;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $white;
        list-style: none;
        padding-bottom: 0;
        width: 100%;
        position: relative;

        a {
            color: $white;
            text-decoration: none;
            list-style: none;
            position: relative;
            padding-bottom: 1.125rem;

            &.active::after { 
                content: "";
                position: absolute;
                bottom: 0; 
                left: 50%;
                width: 450%; // Adjust this value to make the border longer
                height: .1875rem;
                background-color: $white;
                transform: translateX(-60%); // Center the border horizontally 
                transition: background-color 0.6s ease-in-out;
            }
        }
        .inactive{
            color: $sliver;
        }
    }
    @include tablet{
        @include flex-row;
        @include tablet-padding;
        justify-content: flex-start;
    
        &__icon{
            width: 15%;
            margin-bottom: 0;
        }
        &__btns{
            @include body;
            width: 40%;
            margin: 0;
    
            a {
                padding-bottom: 2.5rem;

                &.active::after {
                    width: 100%;
                    height: .25rem;
                    transform: translateX(-50%);
                }
            }
            .inactive{
                margin-left: -6.25rem;
            }
        }
    }
    @include desktop {
        @include flex-row;
        @include tablet-padding;
        padding: 1.875rem 5rem;
        justify-content: flex-start;
        
        &__icon{
            width: 7%;
            margin-bottom: 0;
        }
        &__btns{
            @include body;
            width: 20%;
    
            a {
                padding-bottom: 2rem;

                &.active::after {
                    width: 100%;
                    height: .125rem;
                    transform: translateX(-50%);
                }
            }
            .inactive{
                margin-left: -3.125rem;
            }
        }
    }
}

.footer{
    // mobile view
    background-color: $bandSite-black;
    color: $mercury;
    @include mobile_padding;
    @include flex-column;

    .in-touch{
        &__title{
            @include page-header;
            margin-bottom: 1.2rem;
        }
        &__media-icons{
            display: flex;
            gap: 2.5rem;
            width: 3.125rem;
            margin-bottom: 1.5rem;
        }
    }
    .management, .artist-group, .arch-entertainment{
        margin-bottom: 1rem;
        &__title{
            @include subheader;
            margin-bottom: 1.2rem;
        }
        &__address, &__booking, &__email {
            @include body;
        }
        &__email{
            margin-top: 1rem;
        }
    }
    .footer-logo{
        margin-bottom: 1rem;

        &__title-mobile{
            margin-top: 1.875rem;
            margin-bottom: .625rem;
        }
        &__copyright{
            @include body;
        }
        &__title-tablet{
            display: none;
        }
    }
    // tablet view
    @include tablet{
        @include tablet_padding;

        &__top{
            @include flex-row;
            align-items: center; 
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-bottom: 1.5rem;
        }
        .in-touch{
            &__title{
                @include section-header;
            }
            &__media-icons{
                margin-left: 0;
                display: flex;
            }
        }
        &__content {
            @include flex-row;
            justify-content: space-between;
            width: 100%;
        }
        .management, .artist-group, .arch-entertainment{

            &__title{
                @include body;
                margin-bottom: 1.2rem;
            }
        }
    }
    .footer-logo{

        &__title-mobile{
            display: none;
        }
        &__title-tablet{
            margin-top: 1.875rem;
            margin-bottom: .625rem;
            display: flex;
        }
        &__copyright{
            margin-top: 1.875rem;
        }
    }
    // desktop view
    @include desktop {
        @include tablet_padding;
        @include flex-row;

        &__top {
            @include flex-row;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    .in-touch{
        margin-bottom: 1rem;
    
        &__title{
            @include section-header;
            margin-bottom: 1rem;
            @include flex-row;
        }
        &__media-icons{
            display: flex;
            gap: 2.5rem;
            width: 3.125rem;
        }
    }
    .management, .artist-group, .arch-entertainment{
        margin-bottom: 1rem;

        &__title{
            @include body;
            margin-bottom: 1rem;
        }

        &__address{
            @include body;
            margin-bottom: 1rem;
        }

        &__email{
            @include body;
        }
    }

    .footer-logo{
        margin-bottom: 1rem;

        &__title-mobile{
            @include page-header;
            margin-bottom: 1rem;
        }

        &__copyright{
            @include body;
        }

        &__title--tablet{
            display: none;
        }
    }
    }
}


