@font-face {
    font-family: "avenir-next-normal";
    src: url("/assets/font/AvenirNextLTPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "avenir-next-bold";
    src: url("/assets/font/AvenirNextLTPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "avenir-next-demi";
    src: url("/assets/font/AvenirNextLTPro-Demi.otf");
    font-weight: bold;
    font-style: normal;
}