// mobile screen


// tablet

// desktop

// Primary colours
$bandSite-black: #323232;
$sliver: #AFAFAF;
$white: #FFFFFF;

// Secondary colours
$bandSite-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;