// mobile screen


// tablet

// desktop

// Primary colours
$primary-dark-text: #323232;
$secondary-text: #AFAFAF;
$primary-light-text: #FFFFFF;

// Secondary colours
$CTA-hover: #000000;
$divider-line: #E1E1E1;
$alt-background: #FAFAFA;