@use "./partials/mixins" as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/global' as *;

// top image and title
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 66.5vw;
    background-position: center;
    color: $white;
    @include flex-center;
    @include flex-column;

    &__title{
        padding: 1.5rem;
        @include page-header;
    }
    @include tablet {
        &__title{
            padding: 3rem;
        }
    }
    @include desktop{
        height: 90vh;
    
        &__title{
            padding: 5rem;
        }
    }
}

// About the Musicians 
.about{
    @include mobile-padding;
    @include flex-column;
    width: 100%;

    &__title{
        @include page-header;
        padding-bottom: 1.25rem;
    }
    &__img{
        width: 100%;
        @include flex-center;
        margin-bottom: 1.25rem;
    }
    &__content{
        @include subheader;
        color: $bandSite-black;
    } 
    &__quote-author{
        @include body;
        color: $bandSite-black;
        margin: -0.625rem 0;
    }
    @include tablet{
        @include tablet-padding;
        height: 90%;
    
        &__title{
            @include section-header;
        }
        &__img{
            width: 90%;
            margin: .625rem 0 1.25rem 2.6rem;
        }
        &__content{
            margin: 0 5rem -1.875rem 2.5rem; 
        } 
        &__quote-author{
            margin: 30px 0 -20px 40px;
        }
    }
    @include desktop{
        @include tablet-padding;
    
        &__title{
            @include section-header;
            margin: 0 1.775rem 0 3.125rem;
        }
        &__img{
            width: 80%;
            margin: .625rem 0 1.25rem 8.125rem;
        }
        &__content{
            margin: 0 25rem 0 8.125rem;
        }
        &__quote-author{
            margin: 0 0 -1.5rem 8.125rem;
        }
    }
}

// information about the band
.information{
    @include mobile-padding;

    &__title{
        @include subheader;
        padding-bottom: 1.25rem;
    }
    &__content{
        @include body;
    }
    @include tablet{
        @include tablet-padding;
        @include flex-column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 1.25rem;
            margin-left: 2.5rem;
            width: 100%;
        }
        &__content{
            @include body;
            @include flex-row;
            margin: 0 1.875rem 0 1.25rem;

            &-item {
                margin: 0 1.25rem;
            }
        }
    }
    @include desktop{
        @include tablet-padding;
        @include flex-column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 1.25rem;
            margin-left: 7.8125rem;
            width: 100%;
        }
        &__content{
            @include body;
            @include flex-row;
            margin: 0 5rem;

            &-item {
                margin: 0 3.125rem;
            }
        } 
    }
}

// Gallery photos
.gallery{
    width: 100%;
    @include flex-column;
    background-color: $alabaster;
    @include mobile-padding;
    
    &__title{
        @include page-header;
        padding: 1rem;
    }
    &__imgs{
        width: 100%;
        padding: 0.625rem;
    }
    @include tablet{
        justify-content: center;
        
        &__title{
            @include section-header;
            padding: 0 3.4375rem;
        }
        &__img-section{
            @include flex-center;
            flex-wrap: wrap;
        }
        &__imgs{
            width: 30%;
            padding: 0.625rem;
        }
    }
    @include desktop{
        &__title{
            @include section-header;
            padding: 0.625rem;
            margin: 0 0 1.25rem 4.3rem;
        }
        &__img-section{
            @include flex-center;
            flex-wrap: wrap;
        }
        &__imgs{
            width: 30%;
            padding: 0.625rem;
        }
    }
}


.comments{

    // &__wrapper{ 
    //     // 
    // }
    &__img{
        min-height: 1.5625rem;
        min-width: 1.5625rem;
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 50%;
    }
}