@use "./partials/mixins" as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/global' as *;

// top image and title
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 66.5vw;
    background-position: center;
    color: $white;
    @include flex-center;
    @include flex-column;

    &__title{
        padding: 1.5rem;
        @include page-header;
    }
    @include tablet {
        &__title{
            padding: 3rem;
        }
    }
    @include desktop{
        height: 90vh;
    
        &__title{
            padding: 5rem;
        }
    }
}

// About the Musicians 
.about{
    @include mobile-padding;
    @include flex-column;
    width: 100%;

    &__title{
        @include page-header;
        padding-bottom: 1.25rem;
    }
    &__img{
        width: 100%;
        @include flex-center;
        margin-bottom: 1.25rem;
    }
    &__content{
        @include subheader;
        color: $bandSite-black;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    } 
    &__quote-author{
        @include body;
        color: $bandSite-black;
        margin: 0.625rem 0 -0.625rem 0;
    }
    @include tablet{
        @include tablet-padding;
        height: 90%;
    
        &__title{
            @include section-header;
        }
        &__img{
            width: 90%;
            margin: .625rem 0 1.25rem 2.6rem;
        }
        &__content{
            margin: 0 5rem 0rem 2.5rem; 
        } 
        &__quote-author{
            margin: .625rem 0 -2.5rem 2.5rem;
        }
    }
    @include desktop{
        @include tablet-padding;
    
        &__title{
            @include section-header;
            margin: 0 1.775rem 0 3.125rem;
        }
        &__img{
            width: 80%;
            margin: .625rem 0 1.25rem 8.125rem;
        }
        &__content{
            margin: 0 25rem 0 8.125rem;
        }
        &__quote-author{
            margin: 0 0 -1.5rem 8.125rem;
        }
    }
}

// information about the band
.information{
    @include mobile-padding;

    &__title{
        @include subheader;
        padding-bottom: 1.25rem;
    }
    &__content{
        @include body;
    }
    @include tablet{
        @include tablet-padding;
        @include flex-column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 1.25rem;
            margin-left: 2.5rem;
            width: 100%;
        }
        &__content{
            @include body;
            @include flex-row;
            margin: 0 1.875rem 0 1.25rem;

            &-item {
                margin: 0 1.25rem;
            }
        }
    }
    @include desktop{
        @include tablet-padding;
        @include flex-column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 1.25rem;
            margin-left: 7.8125rem;
            width: 100%;
        }
        &__content{
            @include body;
            @include flex-row;
            margin: 0 3.4375rem 0 4rem;

            &-item {
                margin: 0 3.125rem;
            }
        } 
    }
}

// Gallery photos
.gallery{
    width: 100%;
    @include flex-column;
    background-color: $alabaster;
    @include mobile-padding;
    
    &__title{
        @include page-header;
        padding: 1rem;
    }
    &__imgs{
        width: 100%;
        padding: 0.625rem;
    }
    @include tablet{
        justify-content: center;
        
        &__title{
            @include section-header;
            padding: 0 3.4375rem;
        }
        &__img-section{
            @include flex-center;
            flex-wrap: wrap;
        }
        &__imgs{
            width: 30%;
            padding: 0.625rem;
        }
    }
    @include desktop{
        &__title{
            @include section-header;
            padding: 0.625rem;
            margin: 0 0 1.25rem 4.3rem;
        }
        &__img-section{
            @include flex-center;
            flex-wrap: wrap;
        }
        &__imgs{
            width: 30%;
            padding: 0.625rem;
        }
    }
}

// comment input form
.comments{
    @include flex-column;

    &__title{
        @include page-header;
        padding: 1.25rem 0 2.8125rem 1.25rem;
        color: $bandSite-black;
    }
    &__form{
        align-items: center;
        margin: -4.375rem 0.625rem 0 2.5rem;
        @include body;
    }
    &__name-label, &__comment-label{
        color: $sliver;
        margin: 0 0 0.3125rem 3.125rem;
        align-self: flex-start;
    }
    &__name-input, &__comment-input{
        align-items: flex-start;
        color: $bandSite-darkBlack;
        background-color: $alabaster;
        border: .0625rem solid $mercury;
        border-radius: .25rem;
        width: 85%;
        min-height: 3rem;
        padding: .75rem;
        margin: 0 0 1.25rem 3.125rem;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $bandSite-black;
        }
        &:focus {
            border-color: $bandSite-darkBlack;
            @include body;
            outline: none; 
        }
        &.error {
            border-color: red;
        }

    }
    &__comment-input{
        height: 6.25rem;
        padding-bottom: 3.75rem;
        overflow: auto;
        resize: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    &__img{
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        margin: 0 0 0.625rem 2.7rem;
    }
    &__btn {
        @include subheader;
        height: 2.5rem;
        width: 85%;
        border-radius: .25rem;
        background-color: $bandSite-black;
        color: $white;
        border: none;
        margin: 0 0 1.25rem 3.125rem;
    }
    @include tablet{

        &__title{
            @include section-header;
            padding: 1.25rem 0 2.8125rem 4rem;
        }
        &__form{
            align-items: center;
            margin: -4.375rem 0.625rem 0 5rem;
            @include body;
        }
        &__name-label, &__comment-label{
            color: $sliver;
            margin: 0 0 0.3125rem 6.25rem;
            align-self: flex-start;
        }
        &__name-input, &__comment-input{
            width: 80%;
            margin: 0 0 1.25rem 6.25rem;
        }
        &__comment-input{
            height: 6.25rem;
        }
        &__img{
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 50%;
            margin: 0 0 -0.625rem 6.5rem;
        }
        &__btn {
            @include body;
            width: 20%;
            margin: 0 0 1.25rem 35rem;
        }
    }
    @include desktop{
        display: flex;
        &__form{
            align-items: center;
            margin-top: -4.375rem;
            @include body;
            margin-left: 5rem;
            margin-right: .625rem;
        }
        &__title{
            @include section-header;
            padding: 1rem 0 3rem 5.5rem;
        }
        &__name-label, &__comment-label {
            margin-left: 25rem;
        }
        &__name-input, &__comment-input{
            width: 30%;
            margin-bottom: 1.25rem;
        }
        &__name-input{
            margin-left: 25rem;
        }
        &__comment-input{
            height: 6.25rem;
            margin-left: 25rem;
        }
        &__img{
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 50%;
            margin-left: 24.55rem;
        }
        &__btn {
            @include body;
            height: 2.5rem;
            width: 12%;
            margin: 0 0 1.25rem 38.5rem;
        }
    }
}


// styling for the comments created with JavaScript

.comment-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.25rem;

    &__item{
        position: relative;
        @include flex-column;

        &::before, &::after { 
            content: "";
            position: absolute;
            left: 50%;
            width: 88%;
            height: .0625rem;
            background-color: $mercury;
            transform: translateX(-50%);
        }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
    }
    &__img{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin: 1.25rem 2rem -3.75rem 2.5rem;
    }
    &__name{
        @include subheader;
        display: flex;
        justify-content: flex-start;
        margin: 1.25rem 0 -1.25rem 6.25rem;

    }
    &__content{
        @include body;
        margin: .625rem 1.875rem 1.25rem 6.25rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    &__timestamp{
        @include body;
        color: $sliver;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }
    @include tablet{
        &__item{
            &::before, &::after { 
                width: 84%; 
            }
        }
        &__img{
            width: 3.75rem;
            height: 3.75rem;
            margin: 1.25rem 2rem -3.75rem 6rem;
        }
        &__name{
            @include JavaScript-titles;
            margin: 1.25rem 0 -1.25rem 10.5rem;
    
        }
        &__content{
            @include body;
            margin: .625rem 3.5rem 1.875rem 10.625rem;
        }
        &__timestamp{
            margin-right: 5rem;
        }
    }
    @include desktop{
        margin-bottom: 1.875rem;

        &__item{
            &::before, &::after { 
                left: 47%;
                width: 38%; 
                height: .0625rem;
            }
        }
        &__img{
            width: 3.75rem;
            height: 3.75rem;
            margin: 1.25rem .625rem -3.75rem 24rem;
        }
        &__name{
            @include JavaScript-titles;
            margin: 0 0 -1.25rem 29rem;
    
        }
        &__content{
            margin: .625rem 28.75rem 1.25rem 29.0625rem;
        }
        &__timestamp{
            margin-right: 29.5rem;
        }
    }
}