@use "./partials/mixins" as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/global' as *;




.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 35vh;
    background-position: fixed;
    color: $white;
    // @include flex-center;

    &__title{
        padding: 1.25rem;
        @include page-header;
    }

    @include tablet {
        width: 100%;
        height: 70vh;
        background-position: fixed;
        @include flex-center;
        @include flex-column;
        // margin-left: 10x;
    
        &__title{
            padding: 1.25rem;
            @include page-header;
        }
    }
    @include desktop{
        width: 100%;
        height: 90vh;
        background-position: fixed;
        @include flex-center;
        @include flex-column;
        // margin-left: 10x;
    
        &__title{
            padding: 1.25rem;
            @include page-header;
        }
    }
}

.about{
    @include mobile_padding;
    width: 100%;
    @include flex-column;

    &__title{
        @include page-header;
        padding-bottom: 1.25rem;
    }
    &__img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

    }
    &__content{
        @include section-header;
        margin-left: 10px;
} 
    &--quote-author{
        margin: 25px 20px 0 0;
    }

    @include tablet{
        @include tablet_padding;
        width: 100%;
        height: 90%;
        @include flex-column;
    
        &__title{
            @include section-header;
            padding-bottom: 1.25rem;
        }
        &__img{
            width: 90%;
            @include flex-center;
            margin-bottom: 20px;
            margin-left: 50px;
            flex-wrap: wrap;
    
        }
        &__content{
            @include subheader;
            margin-left: 50px;
            margin-right: 10px;

            &--quote-author{
                @include body;
                margin: 35px 20px 0 0;
            }
        } 
    }

    @include desktop{
        @include tablet_padding;
        width: 100%;
        height: 100%;
        @include flex-column;
    
        &__title{
            @include section-header;
            padding-bottom: 1.25rem;
            margin-left: 50px;
            margin-bottom: 30px;
        }
        &__img{
            width: 80%;
            height: 20%;
            @include flex-center;
            margin-bottom: 20px;
            margin-left: 130px;
            flex-wrap: wrap;
    
        }
        &__content{
            @include subheader;
            margin-left: 130px;
            margin-right: 400px;

            &--quote-author{
                @include body;
                margin-top: 70px;
            }
        }
    
    }
    }



.information{
    @include mobile_padding;

    &__title{
        @include subheader;
        padding-bottom: 20px;
    }
    &__content{
        @include body;
    }

    @include tablet{
        @include tablet_padding;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 20px;
            margin-left: 40px;
            width: 100%;
        }
        &__content{
            @include body;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-right: 20px;

            &-item {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
    @include desktop{
        @include tablet_padding;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &__title{
            @include subheader;
            padding-bottom: 20px;
            margin-left: 125px;
            width: 100%;
        }
        &__content{
            @include body;
            display: flex;
            flex-direction: row;
            margin-left: 80px;
            margin-right: 80px;

            &-item {
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        
    }
}



.gallery{
    width: 100%;
    @include flex-column;
    background-color: $alabaster;
    @include mobile_padding;
    

    &__title{
        @include page-header;
        padding: 16px 0;


    }
    &__imgs{
        width: 100%;
        padding: 10px 0;
    }

    @include tablet{
        width: 100%;
        @include flex-column;
        background-color: $alabaster;
        @include tablet_padding;
        justify-content: center;
        
    
        &__title{
            width: 100%;
            @include section-header;
            padding: 10px;
        }
        &__img-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__imgs{
            width: 29%;
            padding: 10px 10px;
            flex-wrap: wrap;
        }
    }
    @include desktop{
        width: 100%;
        @include flex-column;
        background-color: $alabaster;
        @include tablet_padding;
        justify-content: center;
        
    
        &__title{
            width: 100%;
            @include section-header;
            padding: 10px;
            margin-left: 80px;
            margin-bottom: 20px;
        }

        &__img-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__imgs{
            width: 29%;
            padding: 10px 10px;
            flex-wrap: wrap;
        }
    }
}
