@use "./partials/mixins" as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/global' as *;

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-shows.jpg);
    background-size: cover;
    width: 100%;
    height: 66.5vw;
    background-position: top;
    color: $white;
    @include flex-center;
    @include flex-column;

    &__title{
        padding: 1.5rem;
        @include page-header;
    }
    &__album{
        padding: 0 1.5rem 0 1.5rem;
        @include body;
    }
    &__soundcloud{
        max-width: 90vw;
        max-height: 20vw;
        @include flex-center;
        margin-left: 45px;
        padding-right: 25px;
        margin-bottom: 0px;
    }
    @include tablet {
        background-position: center;
        height: 65vw;

        &__text {
            padding: .625rem 0 2.5rem 1.875rem;
            
        }
        &__album{
            // padding: 1.25rem 3rem;
            @include section-header;
        }
        &__soundcloud{
            max-width: 45vw;
            height: 50%;
            @include flex-center;
            margin-left: 2.8125rem;
            margin-bottom: .625rem;
        }
    }
    @include desktop{
        height: 40vw;
        background-position: center;
        @include flex-row;
        justify-content: space-evenly;
        align-items: center;
    
        &__text {
            padding: .625rem 0 2.5rem 1.875rem;
            
        }
        &__album{
            // padding: 1.25rem 3rem;
            @include subheader;
        }
        &__soundcloud{
            max-width: 30vw;
            height: 25%;
            @include flex-center;
            margin-left: 2.8125rem;
            margin-bottom: .625rem;
            border-radius: .3125rem;
        }
    }
}


.shows {

    &__main-title{
        @include page-header;
        padding: 3rem 1rem 1rem 1rem;

    }
    .shows-list{
        &__shows-array{
            list-style-type: none;
        }
        /* style for the elements created in JavaScript */
        &__title-date, &__title-venue, &__title-shows{
            @include shows-titles;
            color: $sliver;
            padding-bottom: .625rem;
        }
        &__item{
            padding: 1.25rem;
            border-bottom: .125rem solid $mercury;
            @include body;
        }
        &__date {
            @include shows-titles;
    
        }
        &__date, &__venue, &__location{
            padding-bottom: 1.25rem;
    
        }
        &__btn{
            border-radius: 0.25rem;
            border: none;
            width: 100%;
            height: 3rem;
            color: $white;
            background-color: $bandSite-black;
            @include subheader;
        }
        // headers
        &__header {
            display: none;
            margin-bottom: 1rem;
            padding-bottom: .625rem;

            h2 {
                @include shows-titles;
            color: $sliver;
            }
        }
    }
    @include tablet{
        display: flex;
        flex-direction: column;

    &__main-title{
        @include section-header;
        padding: 3rem;

    }
    .shows-array{
        margin-bottom: 2.5rem;
    }
    .shows-list{
        /* style for the elements created in JavaScript */
        &__title-date, &__title-venue, &__title-shows {
            display: none;
        }
        &__item{
            padding: 1.25rem;
            border-bottom: .0625rem solid $mercury;
            @include body;
            display: flex;
            justify-content: space-around;
            flex-direction: flex-start;
        }
        &__btn{
            width: 18%;
            height: 3rem;
            @include shows-titles;
        }
        // headers
        &__header {
            display:flex;
            justify-content: space-around;
            margin-bottom: 1rem;
            margin-right: 20rem;
            padding-bottom: .625rem;

            h2 {
                @include shows-titles;
                padding-bottom: .625rem;
                display: flex;
            }
        }
    }
    }
    @include desktop {
        display: flex;
        flex-direction: column;

    &__main-title{
        @include section-header;
        padding: 3rem 3rem 0 3rem;

    }
    .shows-array{
        margin-bottom: 1.875rem;
    }
    .shows-list{

        /* style for the elements created in JavaScript */
        &__title-date, &__title-venue, &__title-shows {
            display: none;
        }
        &__item{
            padding: 2rem  1.25rem 0 1.25rem;
            border-bottom: .0625rem solid $mercury;
            @include body;
            display: flex;
            justify-content: space-around;
            margin-left: 300px;

            &::before {
                content: ""; 
                position: absolute;
                bottom: 0; // Align to bottom of the item
                left: -500px; // Align to left edge
                right: -500px;
                width: 10%; // Adjust width to change border length
            }
    
        }
        &__btn{
            margin: -0.625rem .625rem 1.25rem 0;
            width: 18%;
            height: 3rem;
            @include shows-titles;
        }
        // headers
        &__header {
            display:flex;
            justify-content: space-around;
            margin-bottom: 1rem;
            margin-left: 18.8rem;
            padding-bottom: 0;
            margin-top: -1.5625rem;

            h2 {
                @include shows-titles;
                display: flex;
            }
        }

    }
    }
}