@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 24px 16px 16px 16px;
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  position: relative;
}
.navigation__icon {
  width: 100%;
  margin-bottom: 1rem;
}
.navigation__btns {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  list-style: none;
  padding-bottom: 0;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .navigation__btns {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .navigation__btns {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
.navigation__btns a {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  position: relative;
  padding-bottom: 1.125rem;
}
.navigation__btns a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 450%;
  height: 0.1875rem;
  background-color: #FFFFFF;
  transform: translateX(-60%);
  transition: background-color 0.6s ease-in-out;
}
.navigation__btns .inactive {
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    padding: 48px 36px 36px 36px;
    justify-content: flex-start;
  }
  .navigation__icon {
    width: 130%;
    margin-bottom: 0;
  }
  .navigation__btns {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
    width: 40%;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .navigation__btns {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .navigation__btns {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .navigation__btns a {
    padding-bottom: 2.5rem;
  }
  .navigation__btns a.active::after {
    width: 100%;
    height: 0.25rem;
    transform: translateX(-50%);
  }
  .navigation__btns .inactive {
    margin-left: -6.25rem;
  }
}
@media (min-width: 1280px) {
  .navigation {
    display: flex;
    flex-direction: row;
    padding: 48px 36px 36px 36px;
    padding: 1.875rem 5rem;
    justify-content: flex-start;
  }
  .navigation__icon {
    width: 110%;
    margin-bottom: 0;
  }
  .navigation__btns {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
    width: 20%;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .navigation__btns {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .navigation__btns {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .navigation__btns a {
    padding-bottom: 2rem;
  }
  .navigation__btns a.active::after {
    width: 100%;
    height: 0.125rem;
    transform: translateX(-50%);
  }
  .navigation__btns .inactive {
    margin-left: -3.125rem;
  }
}

.footer {
  background-color: #323232;
  color: #E1E1E1;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 0 2.1875rem;
}
.footer__top .in-touch__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer__top .in-touch__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__top .in-touch__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.footer__top .in-touch__media-icons {
  display: flex;
  gap: 2.5rem;
  width: 3.125rem;
  margin-bottom: 1.5rem;
}
.footer__title-mobile {
  display: block;
  width: 30%;
  margin: 1.875rem 0 0.625rem 0;
}
.footer__title-tablet {
  display: none;
  margin-bottom: 1.875rem;
}
.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next Regular";
  margin-bottom: 1.875rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer .management, .footer .artist-group, .footer .arch-entertainment {
  margin-bottom: 1rem;
}
.footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
.footer .management__address, .footer .management__booking, .footer .management__email, .footer .artist-group__address, .footer .artist-group__booking, .footer .artist-group__email, .footer .arch-entertainment__address, .footer .arch-entertainment__booking, .footer .arch-entertainment__email {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next Regular";
}
@media (min-width: 768px) {
  .footer .management__address, .footer .management__booking, .footer .management__email, .footer .artist-group__address, .footer .artist-group__booking, .footer .artist-group__email, .footer .arch-entertainment__address, .footer .arch-entertainment__booking, .footer .arch-entertainment__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer .management__address, .footer .management__booking, .footer .management__email, .footer .artist-group__address, .footer .artist-group__booking, .footer .artist-group__email, .footer .arch-entertainment__address, .footer .arch-entertainment__booking, .footer .arch-entertainment__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer .management__email, .footer .artist-group__email, .footer .arch-entertainment__email {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 48px 36px 36px 36px;
  }
  .footer__top {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
  }
  .footer__top .in-touch {
    display: flex;
    align-items: center;
  }
  .footer__top .in-touch__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__top .in-touch__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer__top .in-touch__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer__top .in-touch__media-icons {
    margin: 0 0 0.9375rem 1.875rem;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .footer__title-mobile {
    display: none;
  }
  .footer__title-tablet {
    display: block;
    margin-bottom: 0.8rem;
  }
  .footer__copyright {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
    margin-top: 1.875rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 48px 36px 36px 36px;
  }
  .footer__top {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 1.5rem 3.75rem;
  }
  .footer__top .in-touch {
    display: flex;
    align-items: center;
  }
  .footer__top .in-touch__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .footer__top .in-touch__title {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer__top .in-touch__title {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer__top .in-touch__media-icons {
    width: 10%;
    margin: 0 0 1rem 1.875rem;
    display: flex;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.125rem;
    margin-left: 3.75rem;
    width: 100%;
  }
  .footer__title-mobile {
    display: none;
  }
  .footer__title-tablet {
    width: 8%;
    margin: 0 3.75rem 0.8rem 0;
    display: block;
  }
  .footer__copyright {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
    margin: 2rem 0 1rem 3.125rem;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Avenir Next Regular";
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer .management__title, .footer .artist-group__title, .footer .arch-entertainment__title {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer .footer-logo__title-mobile {
  display: none;
}
.footer .footer-logo__copyright {
  margin: 1.875rem 0 0 3.75rem;
}

.navigation__btns .navigation__shows-btn.active::after {
  width: 600%;
  transform: translateX(-40%);
}
@media (min-width: 768px) {
  .navigation__btns .navigation__shows-btn.active::after {
    width: 100%;
    height: 0.25rem;
    width: 90%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .navigation__btns .navigation__shows-btn.active::after {
    width: 100%;
    height: 0.25rem;
    width: 90%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .navigation__btns {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .navigation__btns {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2.5rem;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
  width: 100%;
  height: 66.5vw;
  background-position: top;
  color: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero__title {
  padding: 1.5rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.hero__album {
  padding: 0 1.5rem 0 1.5rem;
}
.hero__soundcloud {
  max-width: 100vw;
  max-height: 23vw;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 0 0 0.75rem;
  padding-right: 1.5625rem;
  border-radius: 0.3125rem;
}
@media (min-width: 768px) {
  .hero {
    background-position: center;
    height: 65vw;
  }
  .hero__text {
    padding: 0.625rem 0 2.5rem 1.875rem;
  }
  .hero__album {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .hero__album {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero__album {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .hero__soundcloud {
    max-width: 50vw;
    height: 40%;
    margin: 0 0 0.625rem 2.8125rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 60vw;
    background-position: center;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero__text {
    padding: 0.625rem 0 2.5rem 1.875rem;
  }
  .hero__album {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .hero__album {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .hero__album {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .hero__soundcloud {
    max-width: 36vw;
    height: 20%;
    margin: 0 0 0.625rem 2.8125rem;
  }
}

.shows__main-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
  padding: 3rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .shows__main-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__main-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
.shows .shows-list {
  /* style for the elements created in JavaScript */
}
.shows .shows-list__shows-array {
  list-style-type: none;
}
.shows .shows-list__title-date, .shows .shows-list__title-venue, .shows .shows-list__title-shows {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
  color: #AFAFAF;
  padding-bottom: 0.625rem;
}
@media (min-width: 768px) {
  .shows .shows-list__title-date, .shows .shows-list__title-venue, .shows .shows-list__title-shows {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-list__title-date, .shows .shows-list__title-venue, .shows .shows-list__title-shows {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.shows .shows-list__item {
  padding: 1.25rem;
  border-bottom: 0.125rem solid #E1E1E1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next Regular";
  transition: background-color 0.3s ease;
}
@media (min-width: 768px) {
  .shows .shows-list__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-list__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.shows .shows-list__item:hover {
  background-color: #FAFAFA;
}
.shows .shows-list__item:active {
  background-color: #E1E1E1;
}
.shows .shows-list__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .shows .shows-list__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-list__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.shows .shows-list__date, .shows .shows-list__venue, .shows .shows-list__location {
  padding-bottom: 1.25rem;
}
.shows .shows-list__btn {
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  height: 3rem;
  color: #FFFFFF;
  background-color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .shows .shows-list__btn {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-list__btn {
    font-size: 1.5rem;
    line-height: 1.375rem;
  }
}
.shows .shows-list__header {
  display: none;
}
@media (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: column;
  }
  .shows__main-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: "Avenir Next Demi";
    padding: 3rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .shows__main-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shows__main-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .shows .shows-array {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .shows .shows-list {
    /* style for the elements created in JavaScript */
  }
  .shows .shows-list__title-date, .shows .shows-list__title-venue, .shows .shows-list__title-shows {
    display: none;
  }
  .shows .shows-list__item {
    display: flex;
    justify-content: space-around;
    flex-direction: flex-start;
    position: relative;
    border-bottom: none;
    align-items: center;
  }
  .shows .shows-list__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 88%;
    height: 0.0625rem;
    background-color: #E1E1E1;
    transform: translateX(-50%);
  }
  .shows .shows-list__btn {
    width: 18%;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .shows .shows-list__btn {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shows .shows-list__btn {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .shows .shows-list__header {
    display: flex;
    justify-content: space-around;
    margin: 0 20rem 1rem 0;
    padding-bottom: 0.625rem;
  }
  .shows .shows-list__header h2 {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
    color: #AFAFAF;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .shows .shows-list__header h2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shows .shows-list__header h2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    flex-direction: column;
  }
  .shows__main-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: "Avenir Next Demi";
    padding: 3rem 3rem 0 3rem;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .shows__main-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .shows__main-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-array {
    margin-bottom: 1.875rem;
  }
  .shows .shows-list {
    /* style for the elements created in JavaScript */
  }
  .shows .shows-list__title-date, .shows .shows-list__title-venue, .shows .shows-list__title-shows {
    display: none;
  }
  .shows .shows-list__item {
    padding: 2rem 1.25rem 0 1.25rem;
    display: flex;
    justify-content: space-around;
    margin-left: 18.75rem;
    border: none;
  }
  .shows .shows-list__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -31.25rem;
    right: -31.25rem;
    width: 10%;
  }
  .shows .shows-list__btn {
    margin: -0.625rem 0.625rem 1.25rem 0;
    width: 18%;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .shows .shows-list__btn {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .shows .shows-list__btn {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows-list__header {
    display: flex;
    justify-content: space-evenly;
    margin: -1.5625rem 14rem 1rem 13rem;
    padding-bottom: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
    font-family: "Avenir Next Demi";
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .shows .shows-list__header {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .shows .shows-list__header {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=shows.css.map */